@charset "utf-8";
/* CSS Document */
.displayNone{ display:none;}
.thumbnail img:hover{
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.33);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.33);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.33);
}