/*
 * Hover.css - Demo Page
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 * Hover.css Copyright Ian Lunn 2014.
 */

@font-face {
    font-family: khmerNormal;
    src: url(/font/KHMNETTRA.ttf);
}
@font-face {
    font-family: khmerTitle;
    src: url(/font/RataV53.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #333;
  line-height: 140%;
  background:url(../../img/pattern-89ds.png);
}

img {
  border: none;
}

.aligncenter {
  text-align: center;
}

.tutorial {
  display: block;
  font-size: .8em;
}

.tutorial:hover,
.tutorial:focus,
.tutorial:active {
  text-decoration: none;
}

.intro {
  max-width: 680px;
  margin: 0 auto;
}

.button.cta {
  display: inline-block;
  position: relative;
  margin: 2em 0 1em 0;
  padding: 1em;
  background: #2098D1;
  border: none;
  text-decoration: none;
  font-weight: 700;
  color: white;
}

#effects {
  margin-top: 5em;
}

h1 {
  text-align: center;
  font-size: 4em;
}

h2 {
  margin-top: 2em;
}

.about {
  border-top: #333 solid 2px;
  border-bottom: #333 solid 2px;
}

.footer {
  overflow: hidden;
  width: auto;
  margin-top: 6em;
  font-size: .9em;
}

.footer a {
  text-decoration: none;
}

.credit {
  font-size: .8em;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  text-decoration: underline;
}

.social {
  margin-top: 2em;
}

.social-button {
  display: inline-block;
  vertical-align: middle;
}

.author {
  margin: 6em auto 0 auto;
  text-align: center;
  font-weight: 900;
}

.author .logo {
  display: block;
  margin-bottom: .8em;
}

#forkongithub a {
  background: #000;
  color: #fff;
  text-decoration: none;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#forkongithub a:hover,
#forkongithub a:focus,
#forkongithub a:active {
  background: #060;
  color: #fff;
}

#forkongithub a::before,
#forkongithub a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #fff;
}

#forkongithub a::after {
  bottom: 1px;
  top: auto;
}

@media screen and (min-width:800px) {
  #forkongithub {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
  }

  #forkongithub a {
    width: 200px;
    position: absolute;
    top: 60px;
    right: -60px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
  }
}
