/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
 
@font-face {
    font-family: khmerNormal;
    src: url(/font/KhmerOSbattambang.ttf);
}

body {
    background-color: #f8f8f8;
	font-family:khmerNormal,"Courier New", Courier, monospace;
}

input[type=password] {
	font-family:arial,"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif !important;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.anchorLocation{
	position:relative; top:-20px;
}
.inline_paddingLeft{display:inline-block; margin-left:5px;}
.nav_pageNum {
	height: 34px;
	line-height: 30px;
}

.table-responsive{ overflow:auto;}
.table-responsive .tableCellCenter{ text-align:center; vertical-align:middle;}
.table-responsive .tableCellLeftCenter{ text-align:left; vertical-align:middle;}
.table-responsive .checkBoxHeader{ width:30px; text-align:center;}
.table-responsive td.action_td_verticle{vertical-align:middle;}
.table-responsive td.action_td_verticle div{margin-bottom:3px;}
.table-responsive td.action_td_verticle div button{width:100px; text-align:left;}
.table-responsive .campingInfo{font-size:12px; color:#838383;}
.table-responsive .campingInfo_title{font-size:13px; font-weight:bold; color:#0E93BC; border-bottom:1px solid #efefef; padding-bottom:3px; margin-bottom:3px;}

.table-responsive .myActiveBtn{
	font-size:16px; display:inline-block; padding:0 3px; cursor:pointer; color:#2D91B5;
}
.table-responsive .myActiveBtn:hover{
	color:blue;
}
.list_top_small_txt{font-size:11px; color:#838383; border-bottom:1px solid #f0f0f0;margin-bottom:10px;}
#comment_cover{ display:none;}
#topic_date{float:right; font-size:11px;}
.preloader {
	overflow:hidden;
	display:none;
	-moz-animation-duration: 1s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-iteration-count: infinite;
	-moz-animation-name: placeHolderShimmer;
	-moz-animation-timing-function: linear;
	
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: placeHolderShimmer;
	-webkit-animation-timing-function: linear;
	background: #f6f7f8;
	background-image: -webkit-gradient(linear, left center, right center, from(#f6f7f8), color-stop(.2, #edeef1), color-stop(.4, #f6f7f8), to(#f6f7f8));
	background-image: -webkit-linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
	background-image: -moz-gradient(linear, left center, right center, from(#f6f7f8), color-stop(.2, #edeef1), color-stop(.4, #f6f7f8), to(#f6f7f8));
	background-image: -moz-linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
	background-repeat: no-repeat;
	background-size: 1200px 104px;
	height: 80px;
	width:100%;
}

@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
 
    100% {
        background-position: 468px 0
    }
}
@-moz-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
 
    100% {
        background-position: 468px 0
    }
}
.pr_dv1{position:relative; top:0; left:60px; width:10px; height:80px; background:#ffffff;}
.pr_dv2{position:relative; top:-30px; left:0; width:60px; height:8px; background:#ffffff;}
.pr_dv3{position:relative; top:-90px; left:70px; width: 10px;height: 15px; background:#ffffff;}
.pr_dv4{position:relative; top:-90px; left:70px; width: 0;height: 0;border-top: 10px solid #ffffff;border-right: 10px solid transparent;}
.pr_dv5{position:relative; top:-90px; left:70px; width: 0;height: 0;border-bottom: 10px solid #ffffff;border-right: 10px solid transparent;}
.pr_dv6{position:relative; top:-90px; left:70px; width: 10px;height: 47px; background:#ffffff;}
.pr_dv7{position:relative; top:-120px; left:80px; width: 100%;height: 8px; background:#ffffff;}

.switch .switch_input{display:inline-block;}
.switch .switch_label{display:inline-block; vertical-align:top; margin-left:5px;}
.switch .switch_lable_tooltip{display:inline-block;vertical-align:top;}

.isHiden{ display:none !important;}
.borderRed{ border:1px solid red;}

@-webkit-keyframes blink {
        0%   { border-color:red; }
        50%  { border-color:#428bca;}
        100% { border-color:red; }
}
@-moz-keyframes blink {
        0%   { border-color:red; }
        50%  { border-color:#428bca;}
        100% { border-color:red; }
}
@-ms-keyframes blink {
        0%   { border-color:red; }
        50%  { border-color:#428bca;}
        100% { border-color:red; }
}
.blinkBorderTop {
    border-top:2px solid transparent;
     -webkit-animation: blink 2s infinite;
     -moz-animation:    blink 2s infinite;
     -ms-animation:     blink 2s infinite;
}

.icon_btn{ cursor:pointer; color:#1b7ce9;}
.icon_btn:hover{ cursor:pointer; color:orange;;}

.q_options,.q_option_s{ margin-bottom:0; border-radius:4px 4px 0 0; border-bottom:0px solid #e3e3e3;

background: #deefff; /* Old browsers */
background: -moz-linear-gradient(top,  #deefff 0%, #98bede 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #deefff 0%,#98bede 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #deefff 0%,#98bede 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #deefff 0%,#98bede 100%); /* IE10+ */
background: linear-gradient(to bottom,  #deefff 0%,#98bede 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */

}

.q_options:hover{ background:orange; cursor:pointer;}
.q_option_s{ background:#409f24; color:white;}

.options_del{
border: 1px solid #e3e3e3; border-top:0px solid #e3e3e3; border-radius:0 0 4px 4px; text-align:center;

background: #febbbb; /* Old browsers */
background: -moz-linear-gradient(top,  #febbbb 0%, #fe9090 45%, #ff5c5c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#febbbb), color-stop(45%,#fe9090), color-stop(100%,#ff5c5c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */

}

.options_del:hover{ cursor:pointer; color:#fff;
background: #febbbb; /* Old browsers */
background: -moz-linear-gradient(top,  #febbbb 0%, #fe9090 45%, #ff0505 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#febbbb), color-stop(45%,#fe9090), color-stop(100%,#ff0505)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff0505 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff0505 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff0505 100%); /* IE10+ */
background: linear-gradient(to bottom,  #febbbb 0%,#fe9090 45%,#ff0505 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff0505',GradientType=0 ); /* IE6-9 */

}

.btn_padding{ padding:2px;}
.sub_text{ font-size:11px;}

button.close{ font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;}

.delFile_txt{ color: rgba(196,127,14,0.95);}
.delFile_txt:hover { text-decoration:underline; color:rgba(184,31,33,0.88); cursor:pointer;}
.redStar{color:red; font-size:16px; font-weight:bold;}

.iniEditQuestion{ cursor: pointer;}
.iniEditQuestion:hover:after{ content:" កែប្រែ"; color:#ff8000; font-size:11px;}
.iniEditQuestion:hover{ color:rgba(46,89,227,0.96); font-weight:bold;}
.courseLabel{
	display:inline-block; padding:8px; margin:3px; border-radius:6px;
	transition: background-color 0.5s ease;
	background-color:#e9e9e9;
}
.courseLabel:hover {
  background-color: #b5e8e2;
}

.box_title{ cursor:pointer;}
.box_body{ overflow:hidden;}

.clickable{ cursor:pointer;}
.score_box:hover{ border:1px solid #dfdfdf; background-color:#fdfdfd;}
.notif_dropdown{ max-height:300px; overflow:auto;}
.newNotif{ background:#defcfe; border-bottom:1px solid rgba(244,241,241,1.00);}
.notif_date{font-size:10px;}
.unseen_num{ background:#ca0000; color:white;padding: 0 7px; border-radius: 50px;font-size: 10px;}