.tsc_clear { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
.tsc_clean_comment { margin-bottom:16px; width:100%; font-family:Calibri, Arial, Helvetica, sans-serif;}
.tsc_clean_comment .avatar_box { width:70px;}
.tsc_clean_comment .avatar_box img { width:52px;}
.tsc_clean_comment .avatar { background:#fff; padding:4px; border:1px solid #d8d8d8; margin-top:0px;}
.tsc_clean_comment .username { color:#383838; font-weight:bold; clear:left; font-size:12px;}
.tsc_clean_comment .comment_box { padding-bottom:0px; margin-bottom:10px;padding-top:8px; width:100%; height:auto; background:#fff; border:1px solid #d8d8d8; position:relative;}
.tsc_clean_comment .comment_box:before { content:''; width:13px; height:13px; background:#fff; border-left:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; position:absolute; top:24px; left:-8px; transform:rotate(45deg); -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg);}
.tsc_clean_comment .comment_paragraph { color:#454545; line-height:18px; margin:4px 10px 0 15px; padding-bottom:10px; border-bottom:1px solid #f0f0f0;}
.tsc_clean_comment .comment_paragraph:focus { outline:none;}
.tsc_clean_comment .reply {	font-size:0.85em; color:#b7b7b7; margin-left:23px; text-decoration:none; margin-top:8px; position:relative; padding-bottom:5px;}
.tsc_clean_comment .reply:before {	font-family: FontAwesome; content:"\f017"; width:13px; height:11px; position:relative; left:-7px; top:0;}
.tsc_clean_comment .date { float:right; font-size:0.85em; color:#454545; margin-top:0; margin-right:15px;}
.closebtn{ font-size:10px;color:grey;position:relative;top:3px;left:100%;width:10px; height:10px; margin-bottom:-10px;margin-left:-15px; background:none;z-index:10; cursor:pointer;}
.closebtn:before{font-family: FontAwesome; content:"\f00d"; color:#acacac;}
.closebtn:hover:before{color:#bc0a3a;}
.closebtn:after{
    content: "Delete";
    padding: 2px;
    display:none;
    position: relative;
    top: -35px;
    right: 40px;
    width: 50px;
    text-align: center;
    background-color: #fef4c5;
    border: 1px solid #d4b943;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
.closebtn:hover:after{
    display: block;
}
